@import '../base/constants.scss';

.list.__files {
	margin: 0 -20px 15px;
}

.list.__files {
	margin: 15px -20px;
}

.__items .list-group {
	background: $lightBg;
	border-bottom: 1px solid $baseBrd;
	cursor: pointer;
	font-size: 14px;
	padding: 10px ($listItemHorizontalPadding + $listItemArrowSpace) 10px $listItemHorizontalPadding;
	position: relative;

	&::after {
		color: #a6a6a6;
		content: '';
		font-family: $fontAw;
		font-size: 16px;
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
	}
}

.__items .list-group.__opened::after {
	content: '';
}

.__items .list-item {
	background: $whiteColor;
	border-bottom: 1px solid $baseBrd;
	cursor: pointer;
	display: block;
	padding: 10px ($listItemHorizontalPadding + $listItemArrowSpace) 10px $listItemHorizontalPadding;
	position: relative;
}

.__items .list-item.__hovered {
	background: #ecf7fc;
}

.__items .list-group + .list.__sub {
	display: none;
	margin: -1px 0 0;
}

.__items .list-group.__opened + .list.__sub {
	display: block;
}

.__items .list-item.__error {
	background: #fef8f7;
	border-color: #fce7e6;
}

.__items .list-item.__default {
	background: #ecf7fc;

	&::after {
		border-color: #a1c0d4 #a1c0d4 transparent transparent;
		border-style: solid;
		border-width: 15px;
		content: "";
		font-family: $fontAw;
		font-size: 16px;
		position: absolute;
		right: 0;
		top: 0;
		transform: none;
	}

	&::before {
		color: $whiteColor;
		content: "";
		font-family: $fontAw;
		font-size: 10px;
		line-height: 0;
		position: absolute;
		right: 4px;
		top: 9px;
		z-index: 25;
	}
}

.__items .list-item:after {
	color: #a6a6a6;
	content: "";
	font-family: $fontAw;
	font-size: 16px;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	transition: right .25s ease-in-out 0s;
}

.__items.__reverse .list-item:after {
	right: 60px;
	content: "\f053";
}

.__items .list-item.__not-icon {
	&::after,
	&::before {
		content: '';
	}
}

.__items label.list-item:after {
	display: none;
}

.__items .list-item:hover:after {
	right: 25px;
}

.__items.__reverse .list-item:hover:after {
	right: 55px;
}

.__items .list-item.__default:hover:after {
	right: 0;
}

.__items .list-item:first-child {
	border-top: 1px solid $baseBrd;
}

.__items .list-link {
	display: block;
	white-space: nowrap;
	overflow: hidden;
}

.__items .list-ico,
.__files .list-ico {
	color: #a6a6a6;
	font-size: 28px;
	height: 30px;
	line-height: 30px;
	margin: 0 5px 0 0;
	text-shadow: 1px 1px $whiteColor;
	vertical-align: middle;
	width: 40px;
}

.__files .list-ico {
	font-size: 24px;
	width: 30px;
}

.__files .list.__sub .list-ico {
	font-size: 24px;
}

.__items .list-ico ~ .list-name,
.__files .list-ico ~ .list-name {
	vertical-align: middle;
}

.__items .list-name,
.__files .list-name {
	color: $colorText;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	position: relative;
	vertical-align: middle;
	z-index: 25;
}

.__items .list-img {
	/*background-blend-mode: darken;*/
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 30px;
	margin: 0 15px 0 0;
	position: relative;
	vertical-align: middle;
	width: 30px;
}

.__items .list-item:hover .list-name,
.__files .list-item:hover .list-name {
	text-shadow: 1px 1px $whiteColor;
}

.__files .list-name {
	vertical-align: middle;
}

.__files .list-descr {
	color: $colorText;
	display: block;
	font-size: 12px;
}

.__files .list-ico ~ .list-descr,
.__files .list-img ~ .list-descr {
	margin: 0 0 0 37px;
}

.__items .list-t {
	display: block;
	font-size: 14px;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
}

.__items .list-descr {
	color: #999;
	display: block;
	font-size: 12px;
}

.__items .list-action {
	display: inline-block;
	margin: -10px 10px -10px -10px;
	text-align: center;
	width: 28px;

	&::after {
		content: ' ';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	.list-ico {
		color: $baseColor;
		font-size: 21px;
		margin: 0;
		width: auto;
	}
}

.__items .list-item:hover .list-action .list-ico {
	color: $baseColor;
}

.__items .list-ico ~ .list-t {
	display: inline-block;
}

.__items .list-ico ~ .list-descr {
	margin: 0 0 0 50px;
}

.__items .list-t,
.__items .list-descr {
	position: relative;
	text-shadow: 1px 1px $whiteColor;
	z-index: 50;
}

.__items .list-item input[type=checkbox],
.__items .list-item input[type=radio] {
	left: 0;
	position: absolute;
	top: 0;
	visibility: hidden;
}

.__items .list-item .switch {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.__items label.list-item :checked ~ .switch,
.__items label.list-item.__selected .switch {
	background: #ecf7fc;
	box-shadow: 0 0 0 1px #a1c0d4;

	&::after {
		border-color: #a1c0d4 #a1c0d4 transparent transparent;
		border-style: solid;
		border-width: 15px;
		content: '';
		font-family: $fontAw;
		font-size: 16px;
		position: absolute;
		right: 0;
		top: 0;
	}

	&::before {
		color: $whiteColor;
		content: "";
		font-family: $fontAw;
		font-size: 10px;
		line-height: 0;
		position: absolute;
		right: 4px;
		top: 9px;
		z-index: 25;
	}
}

.__items .list-item.__selected .switch:after {
	border-color: #dee9f0 #dee9f0 transparent transparent;
}

.__items label.list-item.__selected .list-name {
	color: #a6a6a6;
}

.list.__chosen {
	margin: 10px 0;
}

.__chosen .list-item {
	margin: 0 10px 10px 0;
	position: relative;
}

.__chosen .list-name {
	background: $baseColor;
	color: $whiteColor;
	float: right;
	font-size: 11px;
	max-width: 345px;
	min-height: 15px;
	min-width: 30px;
	overflow: hidden;
	padding: 2px 5px;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
}

.__chosen .list-remove {
	color: #a1c0d4;
	cursor: pointer;
	float: left;
	font-family: caption;
	font-size: 17px;
	font-weight: bold;
	line-height: 1;
	margin: 3px 4px 0 0;

	&:hover {
		color: $baseColor;
	}
}

.__files .list-item {
	border: none;
	position: relative;
}

.__files .list-block {
	cursor: pointer;
	display: block;
	padding: 2px 20px;
}

.__files .list-link {
	display: inline-block;
	font-size: 14px;
	margin: 10px 0 0;
	padding: 2px 20px;
}

.__files .list-img {
	display: inline-block;
	height: 30px;
	margin: 0 5px 0 0;
	overflow: hidden;
	position: relative;
	top: 5px;
	vertical-align: middle;
	width: 30px;

	* {
		display: block;
		max-width: 100%;
	}
}

.__files .list.__sub .list-item {
	margin: 0 0 0 40px;
}
